<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:url"
      content="https://bepdv-api.herokuapp.com/"
    />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Claro Promo" />
    <meta
      property="og:description"
      content="Faça sua renda mensal agora mesmo."
    />
    <meta
      property="og:image"
      content="https://bepdv-api.herokuapp.com/images/banner.jpg"
    />
    <title>Facebook Share</title>
  </head>
  <body>
    <button onclick="share();">Share</button>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          appId: "286015795902377",
          autoLogAppEvents: true,
          xfbml: true,
          version: "v7.0",
        });
      };
    </script>
    <script
      async
      defer
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
    a
    <script>
      function share() {
        FB.ui(
          {
            method: "share",
            href: "https://developers.facebook.com/docs/",
          },
          function (response) {}
        );
      }
    </script>
  </body>
</html>
